:root {
    --color-black: rgb(0, 0, 0);
    --color-white: rgb(255, 255, 255);
    --color-red: rgb(212, 55, 55);
    --color-light-blue: #2868e8d3;
    --color-brown: #432311;
    --color-sand: #f5cd9d;
}

